<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>ChayNgon</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<!-- Place favicon.ico in the root directory -->

	<link rel="stylesheet" href="/stylesheets/vendor.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body class="ish--hc1 ish--htc2">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->



<!-- sidebar -->
<a class="ish-sbar-overlay" href="#close"></a>
<a class="ish-sbar-btn ish-icon-list-add" href="#open">
	<span class="ish-sbar-btn__desc">Về ChayNgon</span>
</a>
<div class="ish-sbar">
	<div class="ish-sbar__inner">
		<a class="ish-sbar__logo" href="/">Chay <span>|</span> Ngon</a>

		<p>ChayNgon sẽ giúp các bạn tìm được những nhà hàng chay đáng yêu nhất</p>
		<p>Chúng tôi mong muốn giữ lại màu xanh trái đất, bảo vệ môi trường và yêu thương động vật</p>
		<p>Hãy đồng hành cùng ChayNgon nhé</p>
		<p><a href="http://https://www.facebook.com/devfunny1995">Về VuiVui - nhân viên tại ChayNgon</a></p>

		<div class="ish-icons-group">
			<!--
			<a class="ish-icons-group__icon ish-icon-twitter" href="https://twitter.com/ishyoboydotcom" target="_blank"></a>
			<a class="ish-icons-group__icon ish-icon-behance" href="https://www.behance.net/mattimling" target="_blank"></a>
			<a class="ish-icons-group__icon ish-icon-dribbble" href="https://dribbble.com/MattImling" target="_blank"></a>
			<a class="ish-icons-group__icon ish-icon-facebook" href="https://www.facebook.com/ishyoboydotcom" target="_blank"></a>
			-->
			<a class="ish-sc-el ish-sc-icon ish-icon-facebook ish--tc3" href="https://www.facebook.com/devfunny1995" target="_blank"></a>
		</div>

		<!-- close btn -->
		<a class="ish-sbar-close-btn ish-icon-cancel" href="#close">
			<span class="ish-sbar-close-btn__desc">Đi xem có món Chay nào Ngon nào </span>
		</a>
	</div>
</div>
<!-- sidebar end -->



<div class="ish-wrapper">

	<div class="ish-wrapper__inner">



		<!-- header -->
		<header class="ish-row ish-header">
			<div class="ish-header__logo">
				<a class="ish-header__link" href="/">Chay <span>|</span> Ngon</a>
			</div>
			<div class="ish-header__tagline">
				Liên hệ với ChayNgon
			</div>
		</header>
		<!-- header end -->

	

